
<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="appController as vm">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="icon"
          type="image/png"
          href="assets/fm-less/images/Hach-Favicon.png">
    <title>{{vm.header | translate}}</title>

    <script src="./browserDetection-660e781080.js"></script>

    <link rel="stylesheet" href="./vendor-91037a1230.css">

    <link rel="stylesheet" href="./app-345d2b446e.css">

    <script src="./vendor-0982e26f2b.js"></script>

    <script src="./app-afa27d3206.constants.js"></script>

    <script src="./app-df11f2893c.js"></script>


</head>
<body>

<fm-oauth ng-hide="true"
          site="{{vm.baseUrls.aaBaseUrl}}"
          client-id="IOS.ImplicitFlow"
          redirect-uri="{{vm.baseUrls.redirectInfo.fcwb.uri}}"
          post-logout-redirect-uri="{{vm.baseUrls.redirectInfo.fcwb.logoutUri}}">
</fm-oauth>

<fc-fcwb ng-if="vm.isAuthenticated" user="vm.userData" header="vm.header" logout-click="vm.logout()" >

</fc-fcwb>


</body>
</html>